:host ::ng-deep{
    .p-card{
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.option{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.option-description{
    flex-grow: 1;
}
