<div class="order">
    <div class="in-order">
        <ng-container *ngFor="let order of listOrders">
            <div class="components">
                <p class="amount">{{order.amount}}x {{order.product.title}}</p>
                <p>{{order.amount * order.product.value | currency: 'BRL'}}</p>
            </div>    
            <div class="components options" *ngFor="let option of order.options">
                <p class="amount">1x {{option.name}}</p>
                <p>{{option.value | currency:'BRL'}}</p>
            </div>
        </ng-container>
    </div>
    <div class="total-price">
        <p>Total do pedido:</p>
        <h1>{{totalPriceOrders | currency: 'BRL'}}</h1>
    </div>
</div>
