.order{
    border: 1px solid #bcbcbc;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.in-order{
    display: flex;
    flex-direction: column;
}

.components{
    display: flex;
    flex-direction: row;
}

.options{
    margin-left: 5%;
}

.amount{
    flex-grow: 1;
}

.total-price{
    padding-top: 2rem;
    border-top: 1px dashed #9f9f9f;
}