.item-list {
  display: grid;
  grid-template-columns: 1fr; 
  column-gap: 80px;
  row-gap: 60px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .item-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .item-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .item-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
