<button 
    class="card" 
    (click)="isSelected? null : onClick()" 
    [ngStyle]="{'background-color': getBackgroundColor()}">
    <div class="selected" 
        *ngIf="isSelected"
        >
        <div class="checked">
            <i 
            class="pi pi-check" 
            style="color: white; font-size: 1.5rem; font-weight: bold;">
            </i>
        </div>
    </div>
    <div class="header">
    </div>

    <div class="image">
        <img alt="logo" [src]="product.image" width="65px" >
    </div>

    <div class="content">
        <div class="title">
            {{product.title}}
        </div>

        <div class="subtitle">
            {{product.short_description}}
        </div>

        <div class="value">
            {{product.value | currency: 'BRL'}}
        </div>
    </div>
</button>