<p-card [style]="{ 'background-color': backgroundColor }">
    <ng-template pTemplate="header">
    </ng-template>
    <ng-template pTemplate="content">
        <div class="image">
            <img alt="hambúrguer" [src]="product.image" width="85px" height="75px">
        </div>

        <div class="title">
            {{product.title}}
        </div>

        <div class="subtitle">
            {{product.description}}
        </div>

        <div class="value">
            {{product.value | currency:'BRL'}}
        </div>

    </ng-template>
</p-card>