<p-card [style]="{ 'background-color': backgroundColor }">
    <ng-template pTemplate="header">
    </ng-template>
    <ng-template pTemplate="content">
        <div class="image">
            <img alt="hambúrguer" src="../../../assets/hambuguer.png" width="85px">
        </div>

        <div class="title">
            Smash da casa
        </div>

        <div class="subtitle">
            2x hambúrguer 200g
        </div>

        <div class="value">
            R$30,50
        </div>

    </ng-template>
</p-card>