:host ::ng-deep{
    .p-card{
        background-color: #125C13;
        overflow: hidden;
        text-align: center;
        position: relative;

    }

    .p-card-header{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 68px;


        background-image: url("../../../assets/doodle.svg");
        background-size: cover;

        opacity: 0.2;
        filter: invert(100%);
    }

    .p-card-title{
        background-color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        

        font-family: 'Nunito Sans', sans-serif;
        font-weight: 800;
        font-size: 16px;

        padding-bottom: 2px;
        padding-top: 38px;
    }

    .p-card-subtitle{
        background-color: white;
        font-size: 10px;
        padding-bottom: 20px;
    }

    .p-card-content{
        position: absolute;

        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
    }


    .p-card-footer{
        background-color: white;

        font-family: 'Nunito Sans', sans-serif;
        font-weight: 800;
        font-size: 14px;

        padding-bottom: 20px;
    }

}