:host ::ng-deep{
    .p-card{
        overflow: hidden;
        text-align: center;
        position: relative;
        border-radius: 12px;
    }

    .p-card-header{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 68px;


        background-image: url("../../../assets/doodle.svg");
        background-size: cover;

        opacity: 0.5;
    }

    .p-card-content{   
        background-color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .image{
        position: absolute;
        object-fit: cover;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
    }

    .title{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 800;
        font-size: 16px;

        padding-bottom: 2px;
        padding-top: 38px;
    }

    .subtitle{
        font-size: 10px;
        padding-bottom: 20px;
    }

    .value{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 800;
        font-size: 14px;

        padding-bottom: 20px;
    }
}