<div class="container">

    <div class="header">
        <h1>Seja bem vindo!</h1>
        <input pInputText class="search" type="text" placeholder="O que você procura?" [(ngModel)]="searchTerm" (input)="filterProducts()"/>
    </div>
    
    <div class="categories">
        <h2>Categorias</h2>
        <p>Navegue por categoria</p>
        <div class="item-list list-categories">
            <ng-container  *ngFor="let category of categories">
                <app-category class="item" [category]="category"></app-category>
            </ng-container>
        </div>
    </div>

    <div class="products">
        <h2>Produtos</h2>
        <p>Selecione um produto para adicionar ao seu pedido</p>
        <div class="item-list list-products">
            <ng-container  *ngFor="let product of filteredProducts; let i = index">
                <app-product class="item" [index]="i" [product]="product"></app-product>
            </ng-container>
        </div>
    </div>
  
</div>

<!-- p default 16px -->

<!-- h1: 20px -->
<!-- search size: 12px -->
<!-- title 12px -->
<!-- subtitle 10px -->

<!-- title category 12px -->

<!-- title product 10px -->
<!-- subtitle product 8px -->
<!-- value product 10px -->