<p-toast></p-toast>
<div class="container">
    <div class="header">
        <h1>Seja bem vindo!</h1>
        <input 
            pInputText 
            class="search" 
            type="text" 
            placeholder="O que você procura?" 
            [(ngModel)]="searchTerm" 
            (input)="filterProducts()"/>
    </div>
    
    <div class="categories">
        <h2>Categorias</h2>
        <p>Navegue por categoria</p>
        <div class="item-list list-categories">
            <ng-container *ngIf="categories$ | async as categories; else loadingCategories">
                <app-category 
                    *ngFor="let category of categories" 
                    [category]="category" 
                    class="item">
                </app-category>
            </ng-container>
            <ng-template #loadingCategories>
                <p-skeleton></p-skeleton>
            </ng-template>
        </div>
    </div>

    <div class="products">
        <h2>Produtos</h2>
        <p>Selecione um produto para adicionar ao seu pedido</p>
        <div class="item-list list-products">
            <ng-container *ngIf="products$ | async as products; else loadingProducts">
                <app-product 
                    *ngFor="let product of filteredProducts; let i = index" 
                    [product]="product" 
                    [index]="i"
                    (orderRequest)="onOrder($event)"
                    >
                </app-product>
            </ng-container>
            <ng-template #loadingProducts>
                <p-skeleton></p-skeleton>
            </ng-template>
        </div>
    </div>

    <div class="order">
        <ng-container *ngIf="order.length >= 1">
            <app-list-order [listOrders]="order"></app-list-order>
        </ng-container>
    </div>

    
    <div class="footer-buttons">
        <p-button 
            [outlined]="true" 
            [disabled]="order.length === 0" 
            (onClick)="onCancel()">
            <p>Cancelar</p>
        </p-button>
        <p-button 
            class="raised" 
            [raised]="true" 
            [disabled]="order.length === 0" 
            (onClick)="onSubmit()">
            <p>Finalizar pedido</p>
        </p-button>
    </div>
</div>