.container{
    margin-left: 17%;
    margin-right: 17%;
}

.header{
    margin-bottom: 52px;
}

.welcome{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.search{
    background-color: #F4F4F4;
    font-size: 16px;
    padding: 5px 112px 5px 14px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}

.categories{
}

.list-categories{
    margin-top: 28px;
}

.products{
    margin-top: 52px;
    margin-bottom: 45px;

}

.list-products{
    margin-top: 28px;
}


.item-list {
  display: grid;
  grid-template-columns: 1fr; 
  column-gap: 80px;
  row-gap: 60px;
}

.item{
}

.footer-buttons{
  margin-top: 38px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
}

:host ::ng-deep{
   .p-button{
    font-size: 14px;
    padding: 10px 26px 10px 26px;
    border-radius: 12px;
    border: 1px solid #125C13;
  }

  .p-button > p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #125C13;
  }

  .p-button-raised{
    background-color: #125c13;
  }

  .p-button-raised > p{
    color: white;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .item-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .item-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .item-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
