<div class="container">
    <div class="title">
        Revise seu pedido!
    </div>

    <div class="order"> 
        <div class="image-product">
           <app-card [product]="product" [backgroundColor]="backgroundColor"></app-card>
        </div>
        
        <div class="amount-order">
            <h2 class="product-title">{{product.title}}</h2>
            <p class="long-description">{{product.long_description}}</p>
            <div class="order-input">
               <app-input-number [(ngModel)]="amount"></app-input-number>
            </div>
        </div>

        <div class="price">
            <h2>{{product.value | currency: 'BRL'}}</h2>
        </div>
    </div>

    <div class="optional">
        <h2> Adicionais</h2>
        <p>Selecione os ingredientes que mais combinam com seu lanche</p>
        <div class="list-options">
            <ng-container class="options" *ngFor="let option of optional">
                <app-optional [option]="option"></app-optional>
            </ng-container>
        </div>
    </div>

    <div class="notes">
        <h2>Observações</h2>
        <div class="text">
            <textarea [autoResize]="true" rows="4" id="message" name="message" placeholder="Adicione uma observação ao seu pedido" pInputTextarea></textarea>
        </div>
       
    </div>  

    <div class="total-price">
        <app-order></app-order>
    </div>

    <div class="footer-buttons">
        <p-button [outlined]="true">
            <p>Continuar adicionando</p>
        </p-button>
        <p-button class="raised" [raised]="true">
            <p>Adicionar ao pedido</p>
        </p-button>
    </div>
</div>