<div class="dialog-container">
    <h1>Revise seu pedido!</h1>

    <div class="order">
        <ng-container *ngIf="product$ | async as product; else loadingCard">
            
            <div class="image-product center">
                <app-card 
                    [product]="product" 
                    [backgroundColor]="backgroundColor">
                </app-card>
            </div>
            
            <div class="amount-order center">
                <h2>{{product.title}}</h2>
                <p class="long-description">{{product.long_description}}</p>
                <div class="order-input center">
                    <app-input-number 
                        (valueChange)="onAmountChange($event)">
                    </app-input-number>
                </div>
            </div>
            
            <div class="price">
                <h2>{{product.value | currency: 'BRL'}}</h2>
            </div>

        </ng-container> 
        <ng-template #loadingCard>
            <p-skeleton width="5rem"></p-skeleton>
        </ng-template>
    </div>

    <div class="addictional">
        <h2> Adicionais</h2>
        <p>Selecione os ingredientes que mais combinam com seu lanche</p>
        <div class="list-options">
            <ng-container *ngIf="optional$ | async as optional; else loadingOptions">
                <app-optional 
                    *ngFor="let option of optional" 
                    [option]="option" 
                    (optionRequest)="onOptionRequest($event)" 
                    class="options">
                </app-optional>
            </ng-container>
            <ng-template #loadingOptions>
                <p-skeleton width="5rem"></p-skeleton>
            </ng-template>
        </div>
    </div>

    <div class="notes">
        <h2>Observações</h2>
        <div class="text">
            <textarea 
                [(ngModel)]="order.notes"  
                [autoResize]="true" 
                rows="4" 
                placeholder="Adicione uma observação ao seu pedido" 
                pInputTextarea>
            </textarea>
        </div>
    </div>  

    <div class="order-review">
        <ng-container *ngIf="product$ | async as product; else loadingPrice">
            <app-order 
                [order]="order"
            >
            </app-order>
        </ng-container>
        <ng-template #loadingPrice>
            <p-skeleton width="4rem"></p-skeleton>
        </ng-template>
    </div>

    <div class="buttons-group">
        <app-outlined-button
            label="Continuar adicionando"
            [isDisabled]="false"
            (isClicked)="onSubmit()"
        >
        </app-outlined-button>
        <app-raised-button
            label="Adicionar ao pedido"
            [isDisabled]="false"
            (isClicked)="onSubmit()"
        >
        </app-raised-button>
    </div>
</div>