.container{
    padding: 0px 25px 0px 25px;
    font-family: 'Montserrat', sans-serif;
}

.title{
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 52px;
}

.product-title{
  margin-bottom: 14px;
}

.image-product{
  display: flex;
  justify-content: center;
  align-items: center;
}

.order{
    display: grid;
    grid-template-columns: 1fr; 
}

.order-input{
  bottom: 0;
}

.price{
  text-align: center;
}

.amount-order{
  display: flex;
  flex-direction: column;
}

.long-description{
  flex-grow: 1;
}

.list-options{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.optional{
  margin-top: 60px;
}

.total-price{
  margin-top: 38px;
}

.footer-buttons{
  margin-top: 38px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
}

:host ::ng-deep{
  .p-inputtextarea{
    width: 100%;
    background-color: #F4F4F4;
    font-size: 14px;
    padding: 15px;
  }

  .p-button{
    font-size: 14px;
    padding: 10px 26px 10px 26px;
    border-radius: 12px;
    border: 1px solid #125C13;
  }

  .p-button > p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #125C13;
  }

  .p-button-raised{
    background-color: #125c13;
  }

  .p-button-raised > p{
    color: white;
  }
}

.text{
  margin-top: 18px;
}

@media (min-width: 1024px){
  .order{
    grid-template-columns: repeat(3, 1fr);
  }
}
