    <h1>Pagamento</h1>

    <div class="payment-container">
        <div class="order-review">
            <h2>Resumo da compra</h2>

            <app-list-order 
                [listOrders]="order">
            </app-list-order>

            <div class="client-infos">
                <p><b>Nome do cliente</b></p>
                <input 
                pInputText 
                placeholder="Primeiro nome" 
                [(ngModel)]="clientName"/>
            </div>
        </div>

    <div class="payment-options">
        <p class="subtitle"><b>Selecione a forma de pagamento</b></p>
        <div class="payment-option" [ngClass]="{'payment-active': debit}">
            <p class="title"><b>Débito</b></p> 
            <app-checkbox 
                (checkedChange)="onDebit()">
            </app-checkbox>
        </div>
         <div class="payment-option">
            <p class="title"><b>Crédito</b></p> 
            <app-checkbox 
                (checkedChange)="onCredit()">
            </app-checkbox>
        </div>
         <div class="payment-option">
            <p class="title"><b>Dinheiro</b></p> 
            <app-checkbox 
                (checkedChange)="onMoney()">
            </app-checkbox>
        </div>

        <div class="money-return">
            <div class="money-input">
                <p><b>Valor entregue</b></p>
                <input 
                placeholder="R$"
                pInputText
                [(ngModel)]="clientPayment"
                />
            </div>
            <div class="money-output">
                <p><b>Troco</b></p>
                <input 
                pInputText 
                disabled="true" 
                id="output" 
                [(ngModel)]="output"/>
            </div>
        </div>
    </div>
    </div>
   <div class="footer-buttons">
        <p-button 
            [outlined]="true" 
            >
            <p>Cancelar</p>
        </p-button>
        <p-button 
            class="raised" 
            [raised]="true">
            <p>Finalizar pedido</p>
        </p-button>
    </div>